$purple: #8a2be2;
$turquoise: #3cb371;
$gold: #ffd700;

$light-purple: #c08ef5;
$light-turquoise: #75d4a3;
$light-gold: #ffe773;
$light-green: #dff6e3;
$light-yellow: #fff8cc;
$light-red: #ffd9d9;

$dark-purple: #6a1b9a;
$dark-turquoise: #2e8b57;
$dark-gold: #b8860b;
$dark-green: #006400;
$dark-yellow: #ccac00; // #bfbf00;
$dark-red: #8b0000;

$white: #ffffff;
$black: #333333;
$grey: #cccccc;
$light-grey: #f9f8f6;
$dark-grey: #666666;

$light-beige: #fffbf4;
$light-brown: #f1e8d9;
$brown: #d7c094;
$orange: #ce822f;
$beige: #d7c094;
